---
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Attach
IndentAccessModifiers: false
AccessModifierOffset: -4
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: None
SortIncludes: CaseSensitive
...
