build/
build20/
build-core/
build-cuda/
catboost_info/
*.so
*.dylib
*.pyd
__pycache__/
.ipynb_checkpoints/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
cpm-package-lock.cmake
Makefile
_deps/
